*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
    
}
.logo{
    background-image: url("image/logo.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;

}
/* box 2*/
.firstadd{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.secondadd{
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display: flex;
    align-items: center;
}
/*box3*/
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(190, 0, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:white;
}
.navsearch:hover{
    border: 2px solid rgb(255, 64, 0);
}
/* box 4*/
span{
    font-size: 0.7rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}
/*BOX6*/
.navcart i{
    font-size: 30px;
}
.navcart{
    font: size 0.85rem; ;
    font-weight: 700;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panelops p{
    display: inline;
    margin: 10px;
}
.panelops{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section*/

.herosection{
    background-image: url("image/rahul.jpg");
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromsg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 55%;
    margin: 25px;
}
.heromsg a{
    color: #007185;
}
/* shop section*/
.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 5pxs;
}
.boximg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    color:  #007185;
}
/*footer*/
.footpanel1{
    background-color: #37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
display: block;
font-size: 0.85rem;
margin-top: 20px;
color: #dddddd;
}
.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footlogo{
    background-image: url("image/logo.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100px;
}
.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
}
.copyright{
   padding: 5px;
}